.sanskar-header{
  text-align: center;
  background-color: white;
}
#sanskar-about{
  background-color: pink;
}
.sanskar-profile-pic{
}
.carousel-item {
 height: 500px;
    text-align: center;
}

.item1 {
  background-color:red;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}
